@use "../abstract/mixins";

#our-space {
  @include mixins.margin-central(80%);
  .details {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    .imgs-space {
      max-width: 500px;
    }
    .space-texts {
      @extend .imgs-space;
      .separator {
        width: 100%;
      }
    }
  }
}
