// Variables
// Colors
$first-color: #0c0421;
$second-color: #4e75ff;
$third-color: #85a0ff;
$fourth-color: #e8f5c8;
$color-default: #cad4fa;
$first-gradiente: linear-gradient(180deg, #e8f5c8 0%, #ffffff 96.87%);
$second-gradiente: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.7) 0%,
  rgba(202, 212, 250, 0.3) 100%
);
//Fonts
$ft-text: "Montserrat", sans-serif;
$ft-title: "Krona One", sans-serif;
